{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
   
   <link rel="stylesheet" href="{% static 'assets/estilos/estilos.css' %}" />
    <title>Tarea M7_AE4_grupal</title>
  </head>

  <body >
  {% load crispy_forms_tags %}
   <div class="container">
     <header>
      <nav class="navbar navbar-expand-lg navbar bg-primary fixed-top" data-bs-theme="dark">
        <a class="navbar-brand" href="{% url 'index' %}">Bienvenidos</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
           
            <li class="dropdown">                      
                <a class="nav-link dropdown-toggle" href="#" role="button" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
                  <spam style="color: rgb(250, 250, 250);"><strong>Administración de productos</strong></spam>
                </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{% url 'administra_productos' %}">Administra productos</a></li>
                    <li><a class="dropdown-item" href="{% url 'registro_productos' %}">Registro de productos</a></li>
                  </ul>
            </li>                  

            {% if user.is_authenticated %}        
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"><strong>Cerrar sesión</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:#FF0000";><strong>Usuario activo: @{{ user.username}}</strong></a>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}"><strong>Iniciar sesión</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'registro' %}" style="color:#eb7d15;"><strong>Registro usuarios</strong></a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
     </header>
    </div>

  
    <div class="container" id="contenidoTabla">
      <br>
      <h3>Administración de Productos</h3>
      <br>     
      <table class="table-secondary table-bordered border-primary bg-white">
          <thead>
            <tr >
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Marca</th>
              <th scope="col">Unidad</th>
              <th scope="col">Categoría</th>
              <th scope="col">Stock</th>
              <th scope="col">Precio</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          {% for p in productos %}    
          <tbody class="productos">                                                                      
              <tr>
                <td><small>{{p.id_producto}}</small></td>
                <td><small>{{p.nombre_producto}}</small></td>
                <td><small>{{p.marca_producto}}</small></td>
                <td><small>{{p.unidad_producto}}</small></td>
                {% if p.categoria_producto == '1' %}
                    <td><small>Zapatillas deportivas</small></td>
                  {% elif p.categoria_producto == '2' %}
                    <td><small>Zapatillas urbanas</small></td>
                  {% elif p.categoria_producto == '3' %}
                    <td><small>Ropa deportiva</small></td>
                  {% elif p.categoria_producto == '4' %}
                    <td><small>Implementos deportivos</small></td>
                  {% elif p.categoria_producto == '5' %}
                    <td><small>Máquinas de ejercicios</small></td>
                    {% else %}
                    <td><small>Otras categorías</small></td>
                {% endif %}
                <td><small>{{p.stock_producto}}</small></td>
                <td><small>{{p.precio_producto}}</small></td>

                <td> <a name="" id="{p.id_producto}" class="btn btn-info btn-lg active btn-sm" href="{% url 'modifica_productos' p.id_producto %}" role="button" type="button">Editar</a></td>
                <td> <a name="" id="{p.id_producto}" class="btn btn-danger btn-lg active btn-sm" href="{% url 'elimina_productos' p.id_producto %}" role="button" type="button">Eliminar</a></td>                                            
          </tbody>
          {% endfor %}      
      </table>        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


  </body>

  <br>
  <div class="container">
  <footer >
    <div>
      <p id="pie">
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=[url]"><img id="pie-img" src="{% static 'assets/imagenes/linkedin_socialnetwork_17441.png' %}" alt="Linkedin">Linkedin</a>
        <a href="https://twitter.com/intent/tweet?text=[text]&url=[url]&hashtags=[hashtag]"><img id="pie-img" src="{% static 'assets/imagenes/twiter.png' %}" alt="Twitter">Twitter</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://espai.es"><img id="pie-img" src="{% static 'assets/imagenes/facebook_logo_icon_229298.png' %}" alt="Facebook">Facebook</a>
      </p>

      <p>Copyright &copy; 2023 - Desarrollos Informáticos SA</p>
      <p>Grupo 6: Sara Corvalán, Romina Velasco, Guillermo Ondarza</p>
    </div>
  </footer>
</div>
</html>